<h1> No items were submitted <h1>
<h3> There must be control points, open times and close times before clicking Submit.
	 Please follow this link to try submitting again http://0.0.0.0:5000/index</h3>